<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

# Python for Algorithmic Trading

**Chapter 03 &mdash; Working with Financial Data**

## Sample Data Set from Eikon

## Reading Financial Data From Different Sources

### The Data Set

In [1]:
fn = '../data/AAPL.csv'

In [2]:
with open(fn, 'r') as f:
    for _ in range(5):
        print(f.readline(), end='')

Date,HIGH,CLOSE,LOW,OPEN,COUNT,VOLUME
2020-04-01,248.72,240.91,239.13,246.5,460606.0,44054638.0
2020-04-02,245.15,244.93,236.9,240.34,380294.0,41483493.0
2020-04-03,245.7,241.41,238.9741,242.8,293699.0,32470017.0
2020-04-06,263.11,262.47,249.38,250.9,486681.0,50455071.0

### Reading from a CSV File with Python

In [3]:
import csv

In [4]:
csv_reader = csv.reader(open(fn, 'r'))

In [5]:
data = [l for l in csv_reader]

In [6]:
data[:5]

[['Date', 'HIGH', 'CLOSE', 'LOW', 'OPEN', 'COUNT', 'VOLUME'],
 ['2020-04-01',
  '248.72',
  '240.91',
  '239.13',
  '246.5',
  '460606.0',
  '44054638.0'],
 ['2020-04-02',
  '245.15',
  '244.93',
  '236.9',
  '240.34',
  '380294.0',
  '41483493.0'],
 ['2020-04-03',
  '245.7',
  '241.41',
  '238.9741',
  '242.8',
  '293699.0',
  '32470017.0'],
 ['2020-04-06',
  '263.11',
  '262.47',
  '249.38',
  '250.9',
  '486681.0',
  '50455071.0']]

In [7]:
csv_reader = csv.DictReader(open(fn, 'r'))

In [8]:
data = [l for l in csv_reader]

In [9]:
data[:3]

[{'Date': '2020-04-01',
  'HIGH': '248.72',
  'CLOSE': '240.91',
  'LOW': '239.13',
  'OPEN': '246.5',
  'COUNT': '460606.0',
  'VOLUME': '44054638.0'},
 {'Date': '2020-04-02',
  'HIGH': '245.15',
  'CLOSE': '244.93',
  'LOW': '236.9',
  'OPEN': '240.34',
  'COUNT': '380294.0',
  'VOLUME': '41483493.0'},
 {'Date': '2020-04-03',
  'HIGH': '245.7',
  'CLOSE': '241.41',
  'LOW': '238.9741',
  'OPEN': '242.8',
  'COUNT': '293699.0',
  'VOLUME': '32470017.0'}]

In [10]:
sum([float(l['CLOSE']) for l in data]) / len(data)

272.38619047619045

### Reading from a CSV File with pandas

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv(fn, index_col=0,
                   parse_dates=True)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [14]:
data.tail()

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [15]:
data['CLOSE'].mean()

272.38619047619056

### Exporting to Excel and JSON

Create the local `data` folder if necessary via

    !mkdir data

In [16]:
data.to_excel('data/aapl.xlsx', 'AAPL')

In [17]:
data.to_json('data/aapl.json')

In [18]:
ls -n data/

total 24
-rw-r--r--  1 501  20  3067 Feb 21 20:46 aapl.json
-rw-r--r--  1 501  20  6077 Feb 21 20:45 aapl.xlsx
-rw-r--r--  1 501  20     0 Feb 21 19:58 placeholder.txt

### Reading from Excel and JSON

In [19]:
data_copy_1 = pd.read_excel('data/aapl.xlsx', 'AAPL',
                            index_col=0)

In [20]:
data_copy_1.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
Date
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [21]:
data_copy_2 = pd.read_json('data/aapl.json')

In [22]:
data_copy_2.head()

              HIGH   CLOSE       LOW    OPEN   COUNT    VOLUME
2020-04-01  248.72  240.91  239.1300  246.50  460606  44054638
2020-04-02  245.15  244.93  236.9000  240.34  380294  41483493
2020-04-03  245.70  241.41  238.9741  242.80  293699  32470017
2020-04-06  263.11  262.47  249.3800  250.90  486681  50455071
2020-04-07  271.70  259.43  259.0000  270.80  467375  50721831

In [23]:
!rm data/aapl.*

## Working with Open Data Sources

In [24]:
import configparser
config = configparser.ConfigParser()
config.read('../pyalgo.cfg')

['../pyalgo.cfg']

In [25]:
import quandl as q

In [26]:
data = q.get('BCHAIN/MKPRU', api_key=config['quandl']['api_key'])

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5485 entries, 2009-01-02 to 2024-01-08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   5485 non-null   float64
dtypes: float64(1)
memory usage: 85.7 KB

In [28]:
data['Value'].resample('A').last()

Date
2009-12-31        0.000000
2010-12-31        0.299998
2011-12-31        4.470000
2012-12-31       13.570000
2013-12-31      746.900000
2014-12-31      315.700000
2015-12-31      428.230000
2016-12-31      958.120000
2017-12-31    14165.575000
2018-12-31     3791.545833
2019-12-31     7219.600000
2020-12-31    28856.590000
2021-12-31    47132.960000
2022-12-31    16599.690000
2023-12-31    42148.380000
2024-12-31    43928.070000
Freq: A-DEC, Name: Value, dtype: float64

In [29]:
data = q.get('FSE/SAP_X', start_date='2018-1-1',
             end_date='2023-10-01',
             api_key=config['quandl']['api_key'])

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 730 entries, 2018-01-02 to 2020-12-01
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   408 non-null    float64
 1   High                   730 non-null    float64
 2   Low                    730 non-null    float64
 3   Close                  730 non-null    float64
 4   Change                 0 non-null      object
 5   Traded Volume          684 non-null    float64
 6   Turnover               684 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(6), object(4)
memory usage: 62.7+ KB

In [31]:
q.ApiConfig.api_key = config['quandl']['api_key']

In [ ]:
# vol = q.get('VOL/MSFT') # for paid subscribers

In [ ]:
# vol.iloc[:, :10].info() # for paid subscribers

In [ ]:
# vol[['IvMean30', 'IvMean60', 'IvMean90']].tail() # for paid subscribers

## Refinitiv Eikon Data API

`pip install eikon` &mdash; Requires a paid subscription.

In [ ]:
import eikon as ek

In [ ]:
ek.set_app_key(config['eikon']['app_key'])

In [ ]:
help(ek)

### Retrieving Historical Structured Data

In [ ]:
import warnings; warnings.simplefilter('ignore')

In [ ]:
symbols = ['AAPL.O', 'MSFT.O', 'GOOG.O']

In [ ]:
data = ek.get_timeseries(symbols,
                         start_date='2023-01-01',
                         end_date='2023-05-01',
                         interval='daily',
                         fields=['*'])

In [ ]:
data.keys()

In [ ]:
type(data['AAPL.O'])

In [ ]:
data['AAPL.O'].info()

In [ ]:
data['AAPL.O'].tail()

In [ ]:
%%time
data = ek.get_timeseries(symbols,
                         start_date='2023-05-05',
                         end_date='2023-05-06',
                         interval='minute',
                         fields='*')

In [ ]:
print(data['GOOG.O'].loc['2023-05-05 16:00:00':
                         '2023-05-05 16:04:00'].round(1))

In [ ]:
for sym in symbols:
    print('\n' + sym + '\n', data[sym].iloc[-300:-295].round(1))

In [ ]:
%%time
data = ek.get_timeseries(symbols[0],
                         start_date='2023-09-05 15:00:00',
                         end_date='2023-09-05 15:30:00',
                         interval='tick',
                         fields=['*'])

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
resampled = data.resample('30s', label='right').agg(
            {'VALUE': 'last', 'VOLUME': 'sum'}) # <6>

In [ ]:
resampled.tail()

### Retrieving Historical Unstructured Data

In [ ]:
headlines = ek.get_news_headlines(query='R:AAPL.O macbook',
                                  count=5,
                                  date_from='2023-1-1',
                                  date_to='2023-5-1')

In [ ]:
headlines

In [ ]:
story = headlines.iloc[1]

In [ ]:
story

In [ ]:
news_text = ek.get_news_story(story['storyId'])

In [ ]:
from IPython.display import HTML

In [ ]:
HTML(news_text)

## Storing Financial Data Efficiently

### Storing DataFrame Objects

In [33]:
from sample_data import generate_sample_data

In [34]:
print(generate_sample_data(rows=5, cols=4))

                            No0         No1         No2         No3
2021-01-01 00:00:00  100.000000  100.000000  100.000000  100.000000
2021-01-01 00:01:00   99.902216   99.934274   99.974010  100.063213
2021-01-01 00:02:00   99.909456   99.881597   99.933825  100.160535
2021-01-01 00:03:00   99.955194   99.865699   99.866263  100.155404
2021-01-01 00:04:00   99.984414   99.820536   99.859206  100.153880

In [35]:
%time data = generate_sample_data(rows=5e6, cols=10).round(4)

CPU times: user 1.17 s, sys: 226 ms, total: 1.39 s
Wall time: 1.44 s

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [37]:
h5 = pd.HDFStore('data/data.h5', 'w')

In [38]:
%time h5['data'] = data

CPU times: user 5.17 ms, sys: 35.7 ms, total: 40.9 ms
Wall time: 183 ms

In [39]:
h5

<class 'pandas.io.pytables.HDFStore'>
File path: data/data.h5

In [40]:
ls -n data/data.*

-rw-r--r--  1 501  20  440007240 Feb 21 20:55 data/data.h5

In [41]:
h5.close()

In [42]:
h5 = pd.HDFStore('data/data.h5', 'r')

In [43]:
%time data_copy = h5['data']

CPU times: user 98.3 ms, sys: 138 ms, total: 237 ms
Wall time: 329 ms

In [44]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [45]:
h5.close()

In [46]:
rm data/data.h5

In [47]:
%time data.to_hdf('data/data.h5', 'data', format='table')

CPU times: user 1.53 s, sys: 364 ms, total: 1.89 s
Wall time: 2.02 s

In [48]:
ls -n data/data.*

-rw-r--r--  1 501  20  446953369 Feb 21 20:56 data/data.h5

In [49]:
%time data_copy = pd.read_hdf('data/data.h5', 'data')

CPU times: user 70.1 ms, sys: 144 ms, total: 214 ms
Wall time: 280 ms

In [50]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000000 entries, 2021-01-01 00:00:00 to 2030-07-05 05:19:00
Freq: T
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
 5   No5     float64
 6   No6     float64
 7   No7     float64
 8   No8     float64
 9   No9     float64
dtypes: float64(10)
memory usage: 419.6 MB

In [51]:
import tables as tb

In [52]:
h5 = tb.open_file('data/data.h5', 'r')

In [53]:
h5

File(filename=data/data.h5, title='', mode='r', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group) ''
/data/table (Table(5000000,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(10,), dflt=0.0, pos=1)}
  byteorder := 'little'
  chunkshape := (2978,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [54]:
h5.root.data.table[:3]

array([(1609459200000000000, [100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    , 100.    ]),
       (1609459260000000000, [ 99.9947,  99.9559,  99.9648,  99.9979, 100.1152,  99.9619, 100.0472,  99.8679, 100.0985, 100.0166]),
       (1609459320000000000, [100.0191,  99.9931, 100.0162, 100.1409, 100.0532,  99.8865, 100.0476,  99.8111,  99.9982, 100.0917])],
      dtype=[('index', '<i8'), ('values_block_0', '<f8', (10,))])

In [55]:
h5.close()

In [56]:
rm data/data.*

### Using TsTables

In [57]:
%%time
data = generate_sample_data(rows=2.5e6, cols=5,
                            freq='1s').round(4)

CPU times: user 300 ms, sys: 41.2 ms, total: 341 ms
Wall time: 348 ms

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500000 entries, 2021-01-01 00:00:00 to 2021-01-29 22:26:39
Freq: S
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
dtypes: float64(5)
memory usage: 114.4 MB

In [59]:
import tstables

In [60]:
import tables as tb

In [61]:
class desc(tb.IsDescription):
    ''' Description of TsTables table structure.
    '''
    timestamp = tb.Int64Col(pos=0)
    No0 = tb.Float64Col(pos=1)
    No1 = tb.Float64Col(pos=2)
    No2 = tb.Float64Col(pos=3)
    No3 = tb.Float64Col(pos=4)
    No4 = tb.Float64Col(pos=5)

In [62]:
h5 = tb.open_file('data/data.h5ts', 'w')

In [63]:
ts = h5.create_ts('/', 'data', desc)

In [64]:
h5

File(filename=data/data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2024 (Group) ''
/data/y2024/m02 (Group) ''
/data/y2024/m02/d21 (Group) ''
/data/y2024/m02/d21/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [65]:
%time ts.append(data)

AttributeError: module 'pandas.tseries' has no attribute 'index'

In [ ]:
# h5

In [66]:
import datetime

In [67]:
start = datetime.datetime(2021, 1, 2)

In [68]:
end = datetime.datetime(2021, 1, 3)

In [69]:
%time subset = ts.read_range(start, end)

ValueError: Must pass non-zero number of levels/codes

In [70]:
start = datetime.datetime(2021, 1, 2, 12, 30, 0)

In [71]:
end = datetime.datetime(2021, 1, 5, 17, 15, 30)

In [72]:
%time subset = ts.read_range(start, end)

ValueError: Must pass non-zero number of levels/codes

In [73]:
subset.info()

NameError: name 'subset' is not defined

In [ ]:
h5.close()

In [ ]:
rm data/data.*

### Storing Data with SQLite3

In [74]:
%time data = generate_sample_data(1e6, 5, '1min').round(4)

CPU times: user 130 ms, sys: 24.9 ms, total: 155 ms
Wall time: 154 ms

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000000 entries, 2021-01-01 00:00:00 to 2022-11-26 10:39:00
Freq: T
Data columns (total 5 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   No0     1000000 non-null  float64
 1   No1     1000000 non-null  float64
 2   No2     1000000 non-null  float64
 3   No3     1000000 non-null  float64
 4   No4     1000000 non-null  float64
dtypes: float64(5)
memory usage: 45.8 MB

In [76]:
import sqlite3 as sq3

In [77]:
con = sq3.connect('data/data.sql')

In [78]:
%time data.to_sql('data', con)

CPU times: user 1.77 s, sys: 154 ms, total: 1.92 s
Wall time: 1.98 s

1000000

In [79]:
ls -n data/data.*

-rw-r--r--  1 501  20         96 Feb 21 20:56 data/data.h5ts
-rw-r--r--  1 501  20  105316352 Feb 21 20:58 data/data.sql

In [80]:
query = 'SELECT * FROM data WHERE No1 > 103 and No2 < 105'

In [81]:
%time res = con.execute(query).fetchall()

CPU times: user 41.9 ms, sys: 17.4 ms, total: 59.3 ms
Wall time: 59 ms

In [82]:
res[:5]

[]

In [83]:
len(res)

0

In [84]:
con.close()

In [85]:
rm data/data.*

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a> | <a href="mailto:training@tpq.io">training@tpq.io</a>